[Unit]
Description=Restore Sound Card State
DefaultDependencies=no
After=sysinit.target
Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=-/system/bin/alsactl restore
StandardOutput=syslog
